*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    background: pink;
}
::-webkit-scrollbar-thumb {
    /*width: 5%;*/
    /*height: 10%;*/
    /*border-radius: 10px;*/
    /*background: #f0f;*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}