.screen{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(200,200,200,.5);
    display: none;
}
.sContent{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 10%;
    height: 10%;
    background: rgba(200,0,50,.9);
}

.index,.other{
    position: absolute;
    width: 100%;
    height: 100%;
}
.index{
    /*display: none;*/
}
.other{
    bottom:100%;
    left: 0;
}
.index-content .index-content-child{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}
.index-content .index-content-child .index-content-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #f09;
}
.index-content .index-content-child .index-content-middle{
    width: calc(100% - 40px);
}
.index-content .index-content-child .index-content-middle .index-content-dd{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.index-content .index-content-child .index-content-middle .index-content-child-lt{
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/*.index-footer-child{*/
    /*width: 20%;*/
    /*text-align: center;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*color:#fff;*/
    /*font-weight: bold;*/
    /*font-size:14px;*/
/*}*/
/*.index-footer-child .index-footer-img{*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*border-radius: 50%;*/
    /*background: #f09;*/
/*}*/
/*.index-footer-child.active .index-footer-title{*/
    /*color:red;*/
/*}*/
/*.index-footer-child.active .index-footer-img{*/
    /*background: pink;*/
/*}*/
.other-header{
    width: 100%;
    height: 10%;
    background: rgba(100,0,50,.4);
}
.other-content{
    width: 100%;
    height: 80%;
    background: rgba(50,100,200,0.5);
}
.other-footer{
    width: 100%;
    height: 10%;
    background: rgba(200,100,50,.5);
}