.found-content{
    width: 100%;
    padding: 2% 0;
}
.found-content .found-content-child{
    padding: 0 2%;
    width: 96%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.found-content-child .found-content-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.found-content-child .found-content-left .found-content-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #f0f;
}
.found-content-child .found-content-left .found-content-title{
    margin-left: 10px;
}
.found-content-child .found-content-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.found-content-child .found-content-right .found-content-img{
    width: 30px;
    height: 30px;
    background: #0ff;
    margin-right: 10px;
}
.found-content-child .found-content-right .found-content-next{
    font-size:24px;
}
.found-content-child.active{
    color:goldenrod;
    font-weight: bold;
}
.found-content .found-content-kongge{
    width: 100%;
    height: 2%;
    background: rgba(100,100,100,0.5);
}