.wellgame-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wellgame-content .wellgame-content-parent{
    width: 380px;
    height: 380px;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap:wrap;
    align-content: flex-start;
}
.wellgame-content .wellgame-content-parent .wellgame-content-child{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    margin-right: 0;
    text-align: center;
    line-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wellgame-content .wellgame-content-parent .wellgame-content-child.normal{
    background: cyan;
}
.wellgame-content .wellgame-content-parent .wellgame-content-child.myself{
    background: lime;
}
.wellgame-content .wellgame-content-parent .wellgame-content-child.itself{
    background: magenta;
}

.wellgame-content .wellgame-content-parent .wellgame-content-child .container {
    width: 20px;
    height: 40px;
    border-color: rgb(19, 200, 54);
    border-style: solid;
    border-width: 0 10px 10px 0;
    transform: rotate(45deg);
}
.wellgame-content .wellgame-content-parent .wellgame-content-child .cha{
    width: 50px;
    height: 50px;
    margin: auto;
    position: relative;
}
.wellgame-content .wellgame-content-parent .wellgame-content-child .cha::before,
.wellgame-content .wellgame-content-parent .wellgame-content-child .cha::after{
    content: "";
    position: absolute;  /*方便进行定位*/
    height: 50px;
    width: 10px;
    top: 0px;
    right: 20px;  /*设置top和right使图像在20*20框中居中*/
    background: #f39800;
}
.wellgame-content .wellgame-content-parent .wellgame-content-child .cha::before{
    transform: rotate(45deg);  /*进行旋转*/
}
.wellgame-content .wellgame-content-parent .wellgame-content-child .cha::after{
    transform: rotate(-45deg);
}

.wellgame-footer .wellgame-footer-start,
.wellgame-footer .wellgame-footer-reset{
    padding: 10px;
    background: green;
    color:#fff;
    border-radius: 5px;
}

.wellgame-footer .wellgame-footer-reset{
    background: orange;
}

.screen,.prompt{
    position: absolute;
    top:6%;
    left:0;
    width: 100%;
    /*height: 86%;*/
    height: 94%;
    background: rgba(100,100,100,.5);
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    display: none;
}
.screen-parent,.prompt-content{
    width: 190px;
    height: 100px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
}
.prompt-content.error{
    color:red;
}
.prompt-content.success{
    color:green;
}
.prompt-content .prompt-confirm{
    /*display: flex;*/
    justify-content: space-around;
    align-items: center;
    display: none;
}
.prompt-content .prompt-confirm .prompt-yes,
.prompt-content .prompt-confirm .prompt-no{
    width: 25%;
    padding: 1% 0;
    border-radius: 10px;
    color:#fff;
}
.prompt-content .prompt-confirm .prompt-yes{
    background: #009955;
}
.prompt-content .prompt-confirm .prompt-no{
    background: red;
}
.screen-parent .screen-select{
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen-parent .screen-select .screen-select-left{

}
.screen-parent .screen-select .screen-select-middle{
    margin-left: 10px;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #095;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.screen-parent .screen-select .screen-select-middle .screen-select-round{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #095;
}
.screen-parent .screen-select .screen-select-right{
    margin-left: 10px;
}
.screen-parent .screen-begain{
    padding: 10px;
    text-align: center;
    background: #009955;
    border-radius: 10px;
    color:#fff;
    width: 50%;
    margin-left: 20%;
}